<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--TDSV (Text Dependent Speaker Verification) or TISV (Text Independent Speaker Verification)-->
        <add key="Mode" value="TDSV"/> 
        <add key="SubscriptionKey" value="REPLACE_WITH_SUBSCRIPTION_KEY"/>
        <add key="Region" value="REPLACE_WITH_REGION_NAME"/>
    </appSettings>
</configuration>
